apiVersion: apps/v1
kind: Deployment
metadata:
  name: interventions-gateway-staging
  labels:
    app: interventions-gateway-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: interventions-gateway-staging
  strategy:
      type: RollingUpdate
  template:
    metadata:
      labels:
        app: interventions-gateway-staging
    spec:
      containers:
        - name: interventions-gateway
          image: zooniverse/interventions-gateway:__IMAGE_TAG__
          imagePullPolicy: Always
          resources:
                requests:
                  memory: "100Mi"
                  cpu: "10m"
                limits:
                  memory: "100Mi"
                  cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 2
            periodSeconds: 10
          ports:
            - containerPort: 80
          env:
            - name: RACK_ENV
              valueFrom:
                secretKeyRef:
                  name: interventions-gateway-staging
                  key: rack_env
            - name: ROLLBAR_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: interventions-gateway-staging
                  key: rollbar_access_token
            - name: SUGAR_HOST
              valueFrom:
                secretKeyRef:
                  name: interventions-gateway-staging
                  key: sugar_host
            - name: SUGAR_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: interventions-gateway-staging
                  key: sugar_password
            - name: SUGAR_USERNAME
              valueFrom:
                secretKeyRef:
                  name: interventions-gateway-staging
                  key: sugar_username
---
apiVersion: v1
kind: Service
metadata:
  name: interventions-gateway-staging
spec:
  selector:
    app: interventions-gateway-staging
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: interventions-gateway-staging
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: interventions-gateway-staging
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 8
